<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
</head>
<body>
    <h1>Feedback Form</h1>
<form action="">
    
    <label for="name">Name : </label>
    <input type="text" placeholder="Enter your name"> <br>

    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Enter your email"> <br>

    <label for="message">Message</label>
    <textarea name="message" id="message" placeholder="Enter your Feedback Message here" cols="2" rows="2"></textarea>

    <button type="submit">Submit</button>
    
</form>
</body>
</html>