<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Form</h1>
    <form action="">

        <label for="username">Userame : </label>
        <input type="text" placeholder="Enter Username">
        
        <label for="password">Password</label>
        <input type="password" name="password" id="password">


    </form>
</body>
</html>