*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 400px;
    height: 400px;
    margin: 100px auto;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(45deg, red, yellow);
    color: #fff;
}
.heading{
    background: linear-gradient(45deg , red,pink);
    border-radius: 5px;
    padding: 40px;
}
.container h1{
    margin-top: 80px;
}
.container button{
    margin-top: 80px;
    padding: 0.5rem 1rem;
    transition: transform 0.3s ease-in;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, pink, red);
}
.container button:hover{
    cursor: pointer;
    transform: scale(1.1);
}