/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(135deg, #98ba7d, #ffffff);


}

.places_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    margin-top: 40px;
}

.box {
    height: 400px;
    width: 280px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 10px;
    background: linear-gradient(45deg, rgb(232, 132, 132), rgb(145, 145, 234));

}

.places_img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;

}
.places_img:hover{
transform: scale(1.0);
cursor: pointer;
}
.card-content {
    text-align: center;
}

.card-content h1,
p {
    margin-top: 15px;

}

.card-content p {
    font-size: 16px;
}

.places_btn {
    text-align: center;
    margin-top: 25px;
}

.places_btn a {
    color: #fff;
    background-color: #222;
    padding: 0.5rem 0.80rem;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.5s ease-in;

}

.places_btn:hover {
    transform: scale(1.1);
}

.places_btn a:hover {
    background-color: #474646;
    border: none;
} */