<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Form</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>Registration Form 📒</h1>
        <div class="col-sm-12">
          <form action="" method="get">
            
            <label for="name">Name:</label>
            <input type="text" placeholder="Enter your name"> <br>

            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="Enter your email"><br>

            <label for="phone">Phone :</label>
            <input type="tel" name="phone" id="phone" placeholder="Enter your mobile number"><br>

           <button type="submit">Submit</button>

          </form>
        </div>
    </div>
</body>
</html>